<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Customer Details</h2>
    <form action="#" th:action="@{/customer/register}" th:object="${customer}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required><br><br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required><br><br>
        <label for="street">Street:</label>
        <input type="text" id="street" th:field="*{street}" required><br><br>
        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" required><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" th:field="*{city}" required><br><br>
        <label for="state">State:</label>
        <input type="text" id="state" th:field="*{state}" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required><br><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required><br><br>
     
        <button type="submit">Register</button>
    </form>
</body>
</html>
